{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="page-title my-5">chocoWeek</h1>
    <div class="d-flex justify-content-around">
        <div class="card card-info">
            <div class="card-body">
                <h5 class="card-title mb-5">La choco week c'est quoi ?</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore explicabo
                    inventore,
                    labore nihil provident quas
                    rem. Adipisci assumenda doloremque eveniet excepturi, laborum totam voluptatum? Iusto laboriosam
                    magni
                    molestias
                    saepe sapiente</p>
            </div>
        </div>
        <div class="card card-info">
            <div class="card-body">
                <h5 class="card-title mb-5">Les ChocoCoins ?</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore explicabo
                    inventore,
                    labore nihil provident quas
                    rem. Adipisci assumenda doloremque eveniet excepturi, laborum totam voluptatum? Iusto laboriosam
                    magni
                    molestias
                    saepe sapiente</p>
            </div>
        </div>
        <div class="card card-info">
            <div class="card-body">
                <h5 class="card-title mb-5">Les Golden Tickets ?</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore explicabo
                    inventore,
                    labore nihil provident quas
                    rem. Adipisci assumenda doloremque eveniet excepturi, laborum totam voluptatum? Iusto laboriosam
                    magni
                    molestias
                    saepe sapiente</p>
            </div>
        </div>
    </div>
{% endblock %}
