{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="page-title my-5">chocoWeek</h1>
    <div class="card-container">
        <div class="card card-info">
            <div class="card-body">
                <h5 class="card-title mb-5">La choco week c'est quoi ?</h5>
                <p class="card-text mb-5">La chocoWeek est un systeme de tirage au sort si ca tombe sur vous, vous devez
                    payez une
                    chocolatine a tout les participant du tirage dans le cas contraire vous vous voyez recevoir une
                    choco gratuitement ! La vie de reve en somme !</p>
            </div>
        </div>
        <div class="card card-info">
            <div class="card-body">
                <h5 class="card-title mb-5">Les ChocoCoins ?</h5>
                <p class="card-text mb-5">Les ChocoCoins vous permettent d'acheter des golden tickets dans le shop, pour
                    gagner des chococoins il suffit de gagner le kahoot du vendredi et peut etre bintot sur le site
                    grace a des jeux tel que le pendu ou les devinettes</p>
            </div>
        </div>
        <div class="card card-info">
            <div class="card-body">
                <h5 class="card-title mb-5">Les Golden Tickets ?</h5>
                <p class="card-text mb-5">Les Golden Tickets vous permettent de vous inscrire gratuitement a un tirage au
                    sort et oui vous avez bien compris c'est une chocolatine gratuite et pour obtenir des Golden Tickets
                    vous pouvez en acheter directement dans le shop grace a vos ChocoCoins !</p>
            </div>
        </div>
    </div>
{% endblock %}
