<nav class="main-navbar navbar navbar-expand-lg p-3 d-flex justify-content-between">
    <div class="ms-2">
        <a href="{{ path('app_product_index') }}" class="btn btn-custom"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Shop</a>
        <a href="{{ path('admin_user_show') }}" class="btn btn-custom"><i class="fa-solid fa-users"></i> Users</a>
    </div>
    <div>
        <a href="{{ path('app_home') }}" class="btn btn-custom"><i class="fa-solid fa-arrow-right-from-bracket"></i> Quitter l'administration</a>
    </div>
</nav>