<nav class="main-navbar navbar navbar-expand-lg p-3 d-flex justify-content-between">
    <div class="ms-2">
        <a href="{{ path('admin_user_show') }}" class="btn btn-primary">Users</a>
        <a href="{{ path('app_shop') }}" class="btn btn-primary">Shop</a>
    </div>
    <div>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Quitter l'administration</a>
    </div>
</nav>