{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1 class="h1 mb-3 font-weight-normal text-center my-5">Ajouter un produit</h1>
    <div class="form-custom-container">
        {{ include('product/_form.html.twig') }}

        <a href="{{ path('app_product_index') }}" class="btn btn-secondary mt-3"><i class="fa-solid fa-arrow-left"></i> Revenir en arrière</a>
    </div>

{% endblock %}
