.draw-register-card {
  width: 15rem;
  height: 3rem;
}

.form-card {
  margin-top: 7rem;
  width: 30rem;
  position: fixed;
  right: 10rem;
}

.golden-ticket {
  color: gold;
}

.gray-ticket {
  color: gray;
}