.draw-register-card {
  width: 15rem;
  height: 3rem;
}

.form-card {
  //margin-top: 7rem;
  width: 50%;
}

.golden-ticket {
  color: gold;
}

.gray-ticket {
  color: gray;
}

.draw-video {
  position: fixed;
  padding-right: 10%;
  background-color: orangered;
}

.winner-name {
  position: fixed;
  z-index: 99;
  top: 55%;
  left: 46%;
  color: var(--main-color);
}

.participating-card {
  width: 50%;
}