{% extends 'base.html.twig' %}

{% block title %}Choco Week{% endblock %}

{% block body %}
    <h1 class="page-title my-5">Tirage au sort</h1>

    <div class="d-flex flex-column-reverse align-items-center">

        <div class="container-fluid p-5 py-3 home-main-container">
            <div class="row mb-3">
                {% for participant in participants %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card draw-register-card mb-2">
                            <div class="card-body d-flex justify-content-around">
                                <h5 class="card-title">{{ participant.username }}</h5>
                                <i class="fa fa-ticket {% if participant.isGolden %}golden-ticket{% else %}gray-ticket{% endif %}"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if participants|length == 0 %}
           {% set text = "Personne n'\est inscrit pour le moment"  %}
        {% else %}
            {% set text = "Personnes inscrits pour le prochain tirage :" %}
        {% endif %}
        <div class="card participating-card">
            <div class=" d-flex justify-content-around">
                <h5 class="card-title my-2">{{ text }}</h5>
            </div>
        </div>

        <div class="my-3">
            {% if is_granted('ROLE_ADMIN') and numberOfDrawableUsers > 3 %}
                <a href="{{ path('app_draw-start') }}" class="btn btn-success">Lancer le triage au sort</a>
            {% endif %}
        </div>
        <div class="d-flex justify-content-around w-100 mt-3">
            <div class="card form-card">
                <div class="card-body">
                    <h5 class="card-title">Tirage de la chocoWeek</h5>
                    {% if not app.user.isParticipating %}
                        <p>Vous pouvez vous inscrire pour le prochain
                            tirage de la choco week en cliquant sur
                            le boutton participer</p>
                        <form method="post">
                            {% if app.user.numberOfGoldenTickets > 0 %}
                                <input type="checkbox" name="golden" id="golden" class="mb-4">
                                <label for="golden">Utiliser un Golden Ticket <i class="fa fa-ticket golden-ticket"></i>
                                    (<strong>{{ app.user.numberOfGoldenTickets }}</strong>
                                    Restant)</label><br>
                            {% endif %}
                            <input type="submit" class="btn btn-primary" value="Participer">
                        </form>
                    {% else %}
                        <p>Vous etes inscrit pour le prochain
                            tirage de la choco week cliquez sur
                            le boutton pour annuler la participation</p>
                        <form method="post">
                            <input type="submit" class="btn btn-warning" value="Annuler">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}